@charset "utf-8";
/* CSS Document */
p {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	line-height: 30px;
	width: 1000px;
	background-color:#A86BC5;
	padding: 20px;
}
h1, h2 {
	font-size: 40px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#4B0F8D;
}
.pozadina{
	background-image: url("pozadina/p.jpg");
}
.drugapozadina {
	background-image: url("pozadina/cvit.jpg");
}
.trecapozadina {
	 background-image: url("pozadina/tocka.jpg");
}
.cetvrtapozadina{
	background-image: url("pozadina/la.jpg")
}
a:link {
	font-size: 20px;
	color: black;
	background-color: lightcoral;
	padding: 5px;
	line-height: 40px;
	border:1px solid #000000;
}
a:hover{
	background-color: darkmagenta;
}
img {
	height: 400px;
}
