@charset "utf-8";
/* CSS Document */
p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	line-height: 18px;
	width: 1000px;
	background-color:#B0CCD7;
	padding: 20px;
}
h1, h2 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color:#1626C0;
}
.pozadina{
	background-image: url("pozadina/background.png");
}
.drugapozadina {
	background-image: url("pozadina/pozadina.png");
}

a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border:1px solid #000000;
}
a:hover{
	background-color: darkgray;
}
img {
	height: 400px;
}
